<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-primary text-center">
  <h1 class="navbar-brand">Score Board</h1>
</nav>

<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <td>Player</td>
            <td>Level Score</td>
        </tr>
    </thead>
    <tbody>
    {%for item in data%}
        <tr>
            {%for ind in item%}
            <td>
                {{ind}}
            </td>
            {%endfor%}
        </tr>
    {%endfor%}
    </tbody>
</table>

</body>
</html>